@{
    ViewBag.Title = "About";
}

<style>
 body {
       background: url('../../Content/images/bglogin.jpg') no-repeat center center fixed; 
         -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
color:white;
    }
 </style>

<h2>About BSG Members Area</h2>
<h3>Welcome to the bsg Members area.</h3>

<p>Use this area to provide additional information.</p>
