
@{
    ViewBag.Title = "Fail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="promo" class="promo section offset-header" style="height: 95vh;">
    <div class="container text-center">
        <h2 class="title"><span class="highlight"></span></h2>
        <p class="intro">
            failed to subscribe successfully
        </p>

        <div class="btns">
            <a class="btn btn-cta-secondary" href="..\..\Coach\Index\@ViewBag.userID ">Back to your personal page</a>
            <a class="btn btn-cta-primary" href="..\subscribe" target="_blank">Try again</a>
        </div>
    </div><!--//container-->
</section>