
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!-- ******SUCCESS****** -->
<section id="promo" class="promo section offset-header" style="height: 95vh;">
    <div class="container text-center">
        <!--<h2 class="title">bitesize<span class="highlight">Golf</span></h2>-->
        <p class="intro">
            Congratulations, you have successfully subscribed
        </p>

        <p>
            @*@ViewBag.item_number

            @ViewBag.userID*@
        </p>

        <div class="btns">
            <a class="btn btn-cta-secondary" href="..\..\Coach\Index\@ViewBag.userID">Back to your coach page</a>
        </div>

    </div><!--//container-->
</section><!--//promo-->