
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Success</h2>

<a href="..\..\Coach\Index\@ViewBag.userID">Back to your coach page</a>


<hr />

@ViewBag.item_number

@ViewBag.userID